<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>SpringTerrficSupport-Sample</contextName>
    <jmxConfigurator />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    </appender>


	<logger name="com.namics.oss.spring.support.terrific" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
